chromadb
fastapi
groq
numpy
pandas
pydantic
python-dotenv
rank_bm25
sentence_transformers
streamlit
tavily_python
tqdm
uvicorn
openpyxl>=3.1.0
chromadb>=0.4.0
onnxruntime>=1.14.0
pandas
tqdm
faiss-cpu==1.8.0